.cardsCollection {
  box-sizing: border-box;
  display: grid;
  max-height: 100%;
  overflow-x: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content;
  gap: 5px;
  padding: 0px 10px;
}

.cardsCollection::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.cardsCollection::-webkit-scrollbar-track {
  background: white;
}

.cardsCollection::-webkit-scrollbar-thumb {
  background: grey;
  width: 30%;
  border-radius: 10px;
}
