#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1440px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
}

main {
  box-sizing: border-box;
  padding: 20px 0px;
  flex-grow: 1;
  gap: 10px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}
